h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
}
@media screen and (min-width : 1000px) { 
    .iframe{width:700px; height:500px;} 
} 
@media screen and (max-width: 1000px) and (min-width : 750px) { 
    .iframe{width:450px; height:300px; } 
} 

@media screen and (max-width: 992px) { 
	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
} 

@media screen and (max-width: 750px) { 
    .iframe{width:260px; height:180px; }
}

.iframe {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.icone {
	width: 100%;
	text-align: center;
	
}
li {
	display: inline;
	padding: 5%;
}
li a {
	text-decoration: none;
	color: black;
}
/* .iframe{ 
	width: 500px; 
	height: 500px;
} */

body{
	background: #f5f7f0;
}
.todo_site{
	background: #f5f7f0;
}
.include {
    color: forestgreen;
}

.name {
    color: rgb(206, 11, 86);
}
.tracos {
    color:red;
 }
.using{
	color: #323331;
}
.semantica{
	color: #323331;
}
.sintaxe{
	color: #323331;
}
.teste {
	background: #f5f7f0;
	font-size: 1.5rem;
}

.nav-wrapper{
	font-size: 0.8rem;
	font-family: 'Droid Sans Mono', monospace, mono; 
	background-color: rgb(206, 11, 86);
}
/* .cor_hover{
	background-color: rgb(206, 11, 86);
	text-decoration-color: white; 

}
.logo{
	height: 1rem; */
	/* padding-left: 0rem; 
} */

.sobre_titulo {
	text-align: center;
	color: #333333;
	font-size: 2rem;
	font-family: 'Droid Sans Mono', monospace, mono;
	padding-top: 5rem;

}
.video{
	margin-left: 25rem;
	margin-top: 2.125rem;
	margin-bottom: 2.125rem;
	margin-right: 6.25rem;
}
.sobre_paragrafo {
	text-align: center;
	color:#333333;;
	font-size: 1.5rem;
	margin-left: 6.25rem;
	margin-top: 3.125rem;
	margin-bottom: 3.125rem;
	margin-right: 6.25rem;
	font-family: 'Droid Sans Mono', monospace, mono ;

}
.imagem_poesia {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 50%;
	/* margin-left: 50%; */
	/* margin-top: 50px; */
	/* margin-right: 50%; */
	/* margin-bottom: 50px; */
}