h5 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
}
body{
	background: #f5f7f0;
}
.todo_site{
	background: #f5f7f0;
}
.include {
    color: forestgreen;
}

.name {
    color: rgb(206, 11, 86);
}
.tracos {
    color:red;
 }
.using{
	color: #323331;
}
.semantica{
	color: #323331;
}
.sintaxe{
	color: #323331;
}
.teste {
	background: #f5f7f0;
	font-size: 24px;
}

.nav-wrapper{
	font-size: 80%;
	font-family: 'Droid Sans Mono', monospace, mono; 
	background-color: rgb(206, 11, 86);
}
.cor_hover{
	background-color: rgb(206, 11, 86);
	text-decoration-color: white;

}
.logo{
	height: 100%;
	padding-left: 50%; 

}

.sobre_titulo {
	text-align: center;
	color: #333333;
	font-size: 200%;
	font-family: 'Droid Sans Mono', monospace, mono ;

}
.video{
	margin-left: 400px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 100px;
}
.sobre_paragrafo {
	text-align: center;
	color:#333333;;
	font-size: 150%;
	margin-left: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-right: 100px;
	font-family: 'Droid Sans Mono', monospace, mono ;

}
.imagem_poesia{
	position:relative;
	margin-left: 40em;
	/* margin-top: 50px; */
	margin-right: 40em;
	/* margin-bottom: 50px; */
}